.user {
  background-color:#EED2CA;
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  color:white;
  gap: 20px;
  
}
.carte{
  background-color: #ffffffd3;
  margin-left: 130px;
  border-radius: 18px;
}
.carte.card{
  border-radius: 18px;
  border:none;
}

.card-body{
  border-radius: 18px 18px 0px 0px;
background-color:#DCB695;
text-align: center;
}
u{
  color: #B98A86;
}

